USE [ApartmentBusinessManagement1]
GO
/****** Object:  Table [dbo].[CollectRent]    Script Date: 9/29/2019 10:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CollectRent](
	[Collectid] [int] IDENTITY(1,1) NOT NULL,
	[RenterID] [int] NOT NULL,
	[FlatID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[RequestID] [int] NOT NULL,
	[Trxno] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CollectRent] PRIMARY KEY CLUSTERED 
(
	[Collectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [trxno] UNIQUE NONCLUSTERED 
(
	[Collectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYRENTREQUEST]    Script Date: 9/29/2019 10:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYRENTREQUEST](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RenterID] [int] NOT NULL,
	[FlatID] [int] NOT NULL,
	[Rentfee] [int] NOT NULL,
	[PayDate] [date] NOT NULL,
	[Trxno] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CollectRent]  WITH CHECK ADD  CONSTRAINT [FK_CollectRent_CollectRent] FOREIGN KEY([Collectid])
REFERENCES [dbo].[CollectRent] ([Collectid])
GO
ALTER TABLE [dbo].[CollectRent] CHECK CONSTRAINT [FK_CollectRent_CollectRent]
GO
ALTER TABLE [dbo].[PAYRENTREQUEST]  WITH CHECK ADD FOREIGN KEY([FlatID])
REFERENCES [dbo].[FLAT] ([FlatID])
GO
ALTER TABLE [dbo].[PAYRENTREQUEST]  WITH CHECK ADD FOREIGN KEY([RenterID])
REFERENCES [dbo].[RENTER] ([RenterID])
GO
